$main-bg: #161b22;
$primary-color: #58a6ff;
$secondary-color: #8a939d;
$secondary-bg: #21262d;
$secondary-bg-hover: #30363d;
$border: #363b42;
$border-hover: #8b949e;
$font-color: #c9d1d9;
$button-disabled: #484f58;
