@import '../../sass/utilities/variables';

.form-input-container {
  background-color: $main-bg;
  .search-input {
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 90%;
    padding: 5px;
  }
}
